Repository babel/website, pull requests merged in 2018-08, with the labels that each got.

#1747 Add missing parenthesis to template doc
  docs/template.md
Labels: docs

#1754 Update babel-parser docs
  docs/parser.md
Labels: babel 7, docs

#1753 Specify TS plugins options
  docs/plugin-syntax-typescript.md
  docs/plugin-transform-typescript.md
  docs/preset-typescript.md
Labels: docs

#1736 Add time travel panel in REPL
  js/repl/PluginConfig.js
  js/repl/Repl.js
  js/repl/ReplOptions.js
  js/repl/TimeTravelSlider.js
  js/repl/Transitions.js
  js/repl/UriUtils.js
  js/repl/WorkerApi.js
  js/repl/compile.js
  js/repl/types.js
  website/pages/en/repl.js
Labels: repl
