Repository babel/website, pull requests merged in 2018-12, with the labels that each got.

#1906 Add blog post for v7.2.0
  website/blog/2018-12-03-7.2.0.md
Labels: blog

#1816 Add support for decorator options in presets
  js/repl/PluginConfig.js
  js/repl/Repl.js
  js/repl/ReplOptions.js
  js/repl/Utils.js
  js/repl/compile.js
  js/repl/replUtils.js
  js/repl/types.js
Labels: repl

#1921 Update parser.md
  docs/parser.md
  website/versioned_docs/version-7.0.0/parser.md
Labels: docs
