Repository babel/website, pull requests merged in 2018-06, with the labels that each got.

#1638 New user : Sequence
  website/data/users.yml
  website/static/img/users/sequence.svg
Labels: new user

#1658 Update Start tool installation and usage instructions
  docs/tools/start/install.md
  docs/tools/start/usage.md
Labels: docs

#1681 decoratorsBeforeExport defaults to false
  docs/parser.md
  docs/plugin-proposal-decorators.md
  docs/plugin-syntax-decorators.md
Labels: babel 7, docs

#1656 Redesign REPL add plugin modal
  js/assets/search-by-algolia-white.js
  js/repl/ExternalPlugins.js
  js/repl/ExternalPluginsModal.js
  js/repl/ExternalPluginsSearchBox.js
  js/repl/Modal.js
  js/repl/Repl.js
  js/repl/ReplOptions.js
  js/repl/index.js
  js/repl/styles.js
  package.json
  website/pages/en/repl.js
  yarn.lock
Labels: repl

#1679 Add configuration guide
  docs/babelconfigjs.md
  docs/babelrc.md
  docs/configuration.md
  website/i18n/en.json
  website/sidebars.json
Labels: docs

#1685 Tweak repl sidebar design
  js/repl/AccordionTab.js
  js/repl/ReplOptions.js
Labels: repl

#1663 REPL babel-preset-env: add spec loose settings
  js/repl/PluginConfig.js
  js/repl/Repl.js
  js/repl/ReplOptions.js
  js/repl/UriUtils.js
  js/repl/compile.js
  js/repl/replUtils.js
  js/repl/types.js
Labels: repl
