Repository babel/website, pull requests merged in 2019-09, with the labels that each got.

#2092 Add allowNamespaces to typescript preset
  docs/preset-typescript.md
Labels: docs

#2094 "Babel 7.6.0 Released" blog post
  website/blog/2019-09-05-7.6.0.md
Labels: blog

#2078 Add clarifying text to the "Why" introduction
  docs/runtime.md
Labels: needs backport
