Repository babel/website, pull requests merged in 2019-03, with the labels that each got.

#1980 Documentation for Partial Application proposal
  docs/parser.md
  docs/plugin-proposal-partial-application.md
  docs/plugin-syntax-partial-application.md
  docs/plugins.md
  docs/types.md
Labels: docs

#1988 Add docs for template placeholders
  docs/template.md
Labels: docs

#1993 Create 2019-03-19-7.4.0.md
  website/blog/2019-03-19-7.4.0.md
Labels: blog

#1994 Fix classnames in react
  js/repl/ExternalPlugins.js
  website/pages/en/index.js
Labels: bug

#2004 Document alternatives to tsconfig.json
  docs/plugin-transform-typescript.md
  website/versioned_docs/version-7.0.0/plugin-transform-typescript.md
Labels: docs, needs backport

#2005 Document mixin pattern caveat when extending builtin classes
  docs/plugin-transform-classes.md
  website/versioned_docs/version-7.0.0/plugin-transform-classes.md
Labels: docs
