Repository babel/website, pull requests merged in 2019-07, with the labels that each got.

#2052 Create 2019-07-02-the-babel-podcast.md
  website/blog/2019-07-02-the-babel-podcast.md
Labels: blog

#2038 Add TypeScript namespaces documentation
  docs/plugin-transform-typescript.md
Labels: docs

#2047 docs(@babel/parser): Document allowUndeclaredExports option.
  docs/parser.md
Labels: docs

#2051 v7.5.0 blog post
  website/blog/2019-07-03-7.5.0.md
  website/static/css/code-blocks.css
Labels: blog

#2049 Add F# option to pipeline proposal
  js/repl/ReplOptions.js
  js/repl/types.js
Labels: repl

#2056 fixed a typo in usage.md
  docs/usage.md
Labels: needs backport

#2073 Fix typos across babel website repository
  docs/v7-migration-api.md
  website/blog/2016-08-26-babili.md
  website/blog/2017-12-27-nearing-the-7.0-release.md
  website/blog/2018-06-26-on-consuming-and-publishing-es2015+-packages.md
  website/blog/2018-07-19-whats-happening-with-the-pipeline-proposal.md
  website/blog/2018-08-27-7.0.0.md
  website/blog/2019-01-21-7.3.0.md
  website/blog/2019-07-02-the-babel-podcast.md
Labels: needs backport
