Repository babel/website, pull requests merged in 2020-10, with the labels that each got.

#2381 Mention mobileToDesktop in preset-env docs
  docs/preset-env.md
Labels: needs backport

#2395 Blog post for 7.12.0
  website/blog/2020-10-15-7.12.0.md
Labels: blog

#2333 Add docs for loadPartialConfig file handling changes
  docs/core.md
Labels: docs

#2410 fix: versioned URL redirect
  _redirects
Labels: docs
