Repository babel/website, pull requests merged in 2020-02, with the labels that each got.

#2157 Fix preset-env when using Babel 7.8.0+
  js/repl/Repl.js
  js/repl/ReplOptions.js
  js/repl/compile.js
Labels: repl

#2177 Added note for babel-register not compiling native Node.js ESM
  docs/register.md
  website/versioned_docs/version-6.26.3/register.md
  website/versioned_docs/version-7.0.0/register.md
Labels: docs

#2175 Add corejs option to preset env
  js/repl/PluginConfig.js
  js/repl/ReplOptions.js
  js/repl/compile.js
  js/repl/replUtils.js
  js/repl/types.js
Labels: enhancement, repl
