Repository babel/website, pull requests merged in 2020-03, with the labels that each got.

#2187 Fix Broken "Merging" Link
  docs/options.md
  website/versioned_docs/version-7.0.0/options.md
  website/versioned_docs/version-7.1.0/options.md
  website/versioned_docs/version-7.8.0/options.md
  website/versioned_docs/version-7.8.4/options.md
Labels: docs

#2168 docs: Update MatchPattern function description
  docs/options.md
  website/versioned_docs/version-7.0.0/options.md
  website/versioned_docs/version-7.1.0/options.md
  website/versioned_docs/version-7.8.0/options.md
  website/versioned_docs/version-7.8.4/options.md
Labels: docs

#2155 Update link to plugin-features.js
  docs/preset-env.md
  website/versioned_docs/version-7.0.0/preset-env.md
  website/versioned_docs/version-7.4.0/preset-env.md
  website/versioned_docs/version-7.8.0/preset-env.md
Labels: docs

#2200 add note on `npx babel` usage
  docs/cli.md
  website/versioned_docs/version-7.0.0/cli.md
  website/versioned_docs/version-7.8.0/cli.md
  website/versioned_docs/version-7.8.4/cli.md
Labels: docs

#2178 react-jsx-source: add columnNumber property
  docs/plugin-transform-react-jsx-source.md
Labels: docs

#2185 docs: add onlyRemoveTypeImports to (preset|plugin-transform)typescript
  docs/plugin-transform-typescript.md
  docs/preset-typescript.md
  website/versioned_docs/version-7.0.0/plugin-transform-typescript.md
  website/versioned_docs/version-7.0.0/preset-typescript.md
  website/versioned_docs/version-7.5.0/plugin-transform-typescript.md
  website/versioned_docs/version-7.6.0/preset-typescript.md
  website/versioned_docs/version-7.7.0/plugin-transform-typescript.md
  website/versioned_docs/version-7.8.0/plugin-transform-typescript.md
  website/versioned_docs/version-7.8.0/preset-typescript.md
Labels: docs

#2194 Add bugfixes preset env option to REPL
  js/repl/PluginConfig.js
  js/repl/Repl.js
  js/repl/ReplOptions.js
  js/repl/Utils.js
  js/repl/compile.js
  js/repl/replUtils.js
  js/repl/types.js
Labels: repl

#2208 fix: do not set bugfixes when Babel.version is not >= 7.9.0
  js/repl/compile.js
Labels: repl

#2193 Add docs for preset-env's bugfixes option
  docs/preset-env.md
Labels: docs

#2207 add caveat to async-to-generator
  docs/plugin-transform-async-to-generator.md
  website/versioned_docs/version-7.0.0/plugin-transform-async-to-generator.md
Labels: docs

#2201 add new options to `plugin-transform-react-jsx` docs
  docs/plugin-transform-react-jsx.md
  docs/preset-react.md
Labels: docs

#2204 7.9.0 release post
  website/blog/2020-03-16-7.9.0.md
Labels: blog

#2202 refer parser and generator options
  docs/options.md
  website/versioned_docs/version-7.0.0/options.md
  website/versioned_docs/version-7.1.0/options.md
  website/versioned_docs/version-7.8.0/options.md
  website/versioned_docs/version-7.8.4/options.md
Labels: docs

#2217 fix: compile code when no plugins are enabled
  js/repl/Repl.js
Labels: repl
