Repository babel/website, pull requests merged in 2021-08, with the labels that each got.

#2550 Add docs for TS `optimizeConstEnums` option
  docs/plugin-transform-typescript.md
  docs/preset-typescript.md
Labels: docs

#2555 docs: add attachComment
  docs/parser.md
Labels: docs

#2557 Add 7.15.0 blog post
  website/blog/2021-07-26-7.15.0.md
Labels: blog

#2563 repl: add pipeline proposal Hack, remove Smart
  js/repl/ReplOptions.js
  js/repl/types.js
Labels: repl
