Repository babel/website, pull requests merged in 2022-02, with the labels that each got.

#2616 Add docs for `@babel/register/experimental-worker`
  docs/register.md
Labels: docs

#2615 Add docs for the new `unicode-sets-regex` plugin
  docs/plugin-proposal-unicode-sets-regex.md
  docs/plugin-syntax-unicode-sets-regex.md
Labels: docs

#2614 Add docs for the new decorators transform
  docs/plugin-proposal-decorators.md
  docs/plugin-syntax-decorators.md
Labels: docs

#2606 feat: support decorators 2021-12
  js/repl/PluginConfig.js
  js/repl/Repl.js
  js/repl/ReplOptions.js
  js/repl/compile.js
  js/repl/replUtils.js
  js/repl/types.js
Labels: repl

#2617 Add v7.17.0 to the features timeline
  docs/features-timeline.md
Labels: docs

#2618 Babel 7.17.0 blog post
  website/blog/2022-02-02-7.17.0.md
Labels: blog

#2630 update REPL corejs to 3.21
  js/repl/PluginConfig.js
  js/repl/ReplOptions.js
  js/repl/compile.js
Labels: repl
