Repository babel/website, pull requests merged in 2023-05, with the labels that each got.

#2739 sidebar: move plugins under presets
  docs/plugin-transform-flow-strip-types.md
  docs/plugin-transform-react-jsx.md
  docs/plugin-transform-typescript.md
  website/sidebars.json
Labels: docs

#2774 Docs: add Babel 8 default targets
  docs/options.md
Labels: docs

#2783 Use builtin plugins when available and provide default options for some external plugins
  js/repl/Repl.tsx
  js/repl/Worker.ts
  js/repl/WorkerApi.ts
  js/repl/types.ts
Labels: repl

#2789 TS `import =` and `export =` are now supported
  docs/plugin-transform-typescript.md
Labels: docs

#2775 Add module options docs
  docs/plugin-transform-modules-amd.md
  docs/plugin-transform-modules-systemjs.md
  docs/plugin-transform-modules-umd.md
Labels: docs

#2792 add docs for plugin-proposal-explicit-resource-management
  docs/plugin-proposal-explicit-resource-management.md
  docs/plugin-syntax-explicit-resource-management.md
  website/sidebars.js
Labels: docs

#2785 add unicode-sets-regex to preset-env
  docs/parser.md
  docs/plugin-proposal-unicode-sets-regex.md
  website/sidebars.js
Labels: docs

#2788 Add docs for decorators 2023-05
  docs/plugin-proposal-decorators.md
Labels: docs

#2760 add async-explicit-resource-management docs
  docs/plugin-syntax-explicit-resource-management.md
Labels: docs

#2787 Rename stable plugins from -proposal- to -transform-
  _redirects
  docs/cli.md
  docs/features-timeline.md
  docs/helper-compilation-targets.md
  docs/parser.md
  docs/plugin-proposal-decorators.md
  docs/plugin-proposal-destructuring-private.md
  docs/plugin-syntax-async-generators.md
  docs/plugin-syntax-class-properties.md
  docs/plugin-syntax-class-static-block.md
  docs/plugin-syntax-export-namespace-from.md
  docs/plugin-syntax-json-strings.md
  docs/plugin-syntax-logical-assignment-operators.md
  docs/plugin-syntax-nullish-coalescing-operator.md
  docs/plugin-syntax-numeric-separator.md
  docs/plugin-syntax-object-rest-spread.md
  docs/plugin-syntax-optional-catch-binding.md
  docs/plugin-syntax-optional-chaining.md
  docs/plugin-transform-async-generator-functions.md
  docs/plugin-transform-class-properties.md
  docs/plugin-transform-class-static-block.md
  docs/plugin-transform-export-namespace-from.md
  docs/plugin-transform-json-strings.md
  docs/plugin-transform-logical-assignment-operators.md
  docs/plugin-transform-nullish-coalescing-operator.md
  docs/plugin-transform-numeric-separator.md
  docs/plugin-transform-object-rest-spread.md
  docs/plugin-transform-optional-catch-binding.md
  docs/plugin-transform-optional-chaining.md
  docs/plugin-transform-private-methods.md
  docs/plugin-transform-private-property-in-object.md
  docs/plugin-transform-unicode-property-regex.md
  docs/plugins-list.md
  docs/preset-env.md
  docs/presets.md
  docs/standalone.md
  website/sidebars.js
Labels: docs

#2780 Ad docs for import attributes
  docs/generator.md
  docs/parser.md
  docs/plugin-syntax-import-attributes.md
  website/sidebars.js
Labels: docs

#2791 Write 7.22 release post, and add to timeline
  _redirects
  docs/features-timeline.md
  website/blog/2023-05-26-7.22.0.md
  website/past-versions.json
  website/src/pages/index.js
Labels: blog
