Repository babel/website, pull requests merged in 2023-02, with the labels that each got.

#2712 docs: state pragma and pragmaFrag requirements
  docs/plugin-transform-react-jsx.md
  docs/preset-react.md
Labels: docs

#2724 Docs for `allowNewTargetOutsideFunction`
  docs/parser.md
Labels: docs

#2722 Add docs about `@babel/core` support for `.cts`
  docs/config-files.md
Labels: docs

#2721 Add docs for `privateFieldsAsSymbols`
  docs/assumptions.md
Labels: docs

#2720 Add docs for `@babel/generator`'s `inputSourceMap` option
  docs/generator.md
Labels: docs

#2716 Add docs for `@babel/parser`'s `annexb` option
  .gitattributes
  docs/parser.md
Labels: docs

#2717 Babel 7.21.0 blog post, and update features timeline
  docs/features-timeline.md
  website/blog/2023-02-20-7.21.0.md
  website/src/pages/index.js
Labels: blog

#2718 Support decorators proposal 2023-01
  js/repl/PluginConfig.ts
  js/repl/ReplOptions.tsx
  js/repl/compile.ts
  js/repl/types.ts
Labels: repl

#2728 Fix REPL sidebar bottom style
  js/repl/ReplOptions.tsx
Labels: repl

#2729 Update babel types 7.21 docs
  docs/types.md
  js/repl/past-versions.json
  scripts/generate-repl-past-versions.mjs
Labels: repl, docs

#2731 chore: change blockquotes
  docs/learn.md
  docs/plugins.md
  docs/presets.md
  docs/register.md
  website/blog/2015-03-31-5.0.0.md
Labels: blog
