Repository babel/website, pull requests merged in 2024-10, with the labels that each got.

#2979 update import assertions compat data
  docs/plugin-proposal-import-attributes-to-assertions.md
Labels: docs

#2970 fix: REPL with `preset-env` in Babel 8
  js/repl/ReplOptions.tsx
  js/repl/compile.ts
Labels: repl

#2994 Add docs for generator's `experimental_preserveFormat` option
  docs/generator.md
Labels: docs

#2977 Rename proposal-modifiers
  _redirects
  docs/plugin-transform-duplicate-named-capturing-groups-regex.md
  docs/plugin-transform-regexp-modifiers.md
  docs/plugins-list.md
  website/sidebars.js
Labels: docs

#2974 docs: `import attributes` enabled by default
  docs/parser.md
  docs/plugin-syntax-import-attributes.md
  docs/v8-migration.md
Labels: docs

#2965 Add migration docs for flow `enums` option
  docs/v8-migration.md
Labels: docs, babel 8

#2964 [babel 8] Add docs for minimal/smart pipeline modes removal
  docs/parser.md
  docs/plugin-proposal-pipeline-operator.md
Labels: docs, babel 8

#2998 Rename `proposal-json-modules` to `transform`
  _redirects
  docs/plugin-transform-json-modules.md
  docs/plugins-list.md
  website/sidebars.js
Labels: docs

#2995 Docs for `@babel/highlight` and `code-frame` merge
  _redirects
  docs/code-frame.md
  docs/highlight.md
Labels: docs
