Repository babel/website, pull requests merged in 2024-02, with the labels that each got.

#2863 Enable allowDeclareFields & allowNamespaces on preset-typescript
  js/repl/compile.ts
Labels: repl

#2871 Add docs for Babel.packages in standalone
  docs/standalone.md
Labels: docs

#2870 Fix `preset-flow` `ignoreExtensions` docs
  docs/preset-flow.md
Labels: docs

#2867 Add docs for transform-runtime's `moduleName` option
  docs/plugin-transform-runtime.md
Labels: docs

#2866 Add docs for plugin-proposal-json-modules
  docs/plugin-proposal-import-wasm-source.md
  docs/plugin-proposal-json-modules.md
  docs/plugins-list.md
  website/sidebars.js
Labels: docs

#2860 Add decorator `2023-11` docs
  docs/plugin-proposal-decorators.md
  docs/v8-migration.md
  js/repl/PluginConfig.ts
  js/repl/Repl.tsx
  js/repl/ReplOptions.tsx
  js/repl/compile.ts
  js/repl/types.ts
Labels: repl, docs

#2865 Add `noUninitializedPrivateFieldAccess` assumption docs
  docs/assumptions.md
Labels: docs

#2869 Add 7.24.0 release post
  website/blog/2024-02-28-7.24.0.md
Labels: blog
