Repository babel/website, pull requests merged in 2024-07, with the labels that each got.

#2895 docs(assumptions): Remove references to `noObjectSuper` & `noUndeclaredVariablesCheck`
  docs/assumptions.md
Labels: docs

#2918 Add migration docs for removing methods starting with `_`
  docs/v8-migration-api.md
Labels: docs, babel 8

#2924 [Babel 8] Doc for removing some `NodePath` methods
  docs/v8-migration-api.md
Labels: docs, babel 8

#2893 Add duplicate-named-capturing-groups to ES2025
  _redirects
  docs/plugin-proposal-duplicate-named-capturing-groups-regex.md
  docs/plugins-list.md
  website/sidebars.js
Labels: docs

#2928 Add docs for `uncheckedRequire` option
  docs/plugin-proposal-json-modules.md
Labels: docs

#2927 Add release post for 7.25.0
  website/blog/2024-07-26-7.25.0.md
Labels: blog
